/* Style bakgrunden */
body {
    background: #202225;
    color: #EDECEF;
}

/* ********************************** */
/* ********* Gemensam style  ******** */
/* ********************************** */
.content {
    background: #2F3136;
    width: 800px;
    margin: 50px auto 0 auto;
    padding: 20px;
    border-radius: 20px;
}
h1 {
    font-size: 50px;
    color: #f8f8f8;
    margin: 0 auto;
    padding: 20px 0 35px 0;
}
form {
    width: 300px;
    margin: 0 auto;
    padding-bottom: 10px;
}
label {
    display: inline-block;
}
input {
    justify-self: stretch;
}
.success {
    background: #006600;
}
.success p {
    padding: 15px;
}
.error-message {
    background: #FF0000;
    margin-bottom: 10px;
    padding: 1px 10px;
}
.error-message p {
    padding: 0 10px;
}
.small-content {
    width: 400px;
}

/* ********************************** */
/* ********* Styla user.php ********* */
/* ********************************** */
.users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    margin: 0 25px 25px 25px;
}
.vertical-menu {
    max-height: 500px;
    overflow-y: auto;
}
a {
    text-decoration: none;
    color: #DCDBDE;
}
.users a .user {
    background: #36393F;
    width: 190px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}
.users a h2 {
    margin: auto;
}
.max-con {
    width: max-content;
    margin: 0 auto;
}
hr {
    width: 775px;
    margin: 15px auto;
}

/* Hantera användare */
.manage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin: 10px 60px;
}
.manage-part {
    background: #36393F;
    margin: 0 auto 20px auto;
    padding: 20px;
    border: 5px solid #000;
    border-radius: 20px;
    box-shadow: 0 0 5px #000;
}
button {
    display: block;
    background: #36393F;
    color: #DCDBDE;
    margin: 0 auto;
    padding: 10px 30px;
    border: 5px solid #000;
    border-radius: 15px;
}

/* ********************************** */
/* ******* Styla addusers.php ******* */
/* ********************************** */

.description {
    font-size: 12px;
    color: #A9A8AB;
    margin: 0 0 10px 0;
}

/* ********************************** */
/* ******** Styla manage.php ******** */
/* ********************************** */
.section h1 {
    font-size: 35px;
    text-align: center;
}
.section form select {
    display: block;
    border: 2px solid gray;
    margin: 0 auto 20px auto;
    padding: 10px;
}
.section form label {
    margin-top: 10px;
}
.section form button {
    margin-top: 20px;
}
.small-hr {
    width: 390px;
}

/* ********************************** */
/* ******* Styla chatroom.php ******* */
/* ********************************** */
.container {
    display: grid;
    background: #36393F;
    width: 1000px;
    height: 700px;
    border: 3px solid #000;
    border-radius: 10px;
    margin: auto 50px auto 0;
    grid-template-columns: 1fr 4fr;
}
.rooms {
    background: #2F3136;
    padding: 10px;
    border-top-left-radius: 10px;
}
.rooms form {
    width: auto;
    margin: 0;
}
.rooms input {
    margin: 10px 0;
}
.rooms button {
    width: 100%;
    padding: 5px 0;
}
.container hr {
    width: 150px;
}
.rooms .room {
    padding: 5px;
    margin: 5px 0;
}
.rooms .on {
    background: #393C43;
    border-radius: 5px;
}
.chatrooms {
    display: block;
}
.view-chat {
    height: 635px;
    max-height: 635px;
    overflow-y: auto;
}
.view-chat .show-message {
    padding: 15px;
}
.view-chat .show-message:hover {
    background: #32353B;
}
.view-chat .show-message h2, h6 {
    display: inline-block;
    color: gray;
    margin: 0;
}
.view-chat .show-message p {
    color: #DCDDDE;
    margin: 10px 0 0 0;
}
.go-back {
    background: #2F3136;
    padding: 10px;
    border-bottom-left-radius: 10px;
}
.go-back a button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: auto;
    margin: 0;
}
.input-message {
    width: 90%;
    margin: auto;
}
.input-message form {
    width: 100%
}
.input-message form input {
    display: inline-block;
    background: #40444B;
    font-size: 15px;
    width: 90%;
    height: 35px;
    padding: 0 5px;
    border-radius: 10px;
    margin: auto;
    border: none;
}
.input-message form button {
    display: inline-block;
    background: #40444B;
    width: 50px;
    padding: 10px;
    border: none;
}